@page
@model InventurListe.Pages.Inventur.IndexModel
@{
}

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Geräte Liste</h2>
    </div>
    <div class="col-3">
        <a asp-page="GeraeteCreate" class="btn btn-info form-control text-white">Neuer Eintrag</a>
    </div>


    <diiv class="col-10 border p-3 mt-3">
        <form method="post">
            @if (Model.Gerät.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Gerät.FirstOrDefault().InventurNr"></label>
                        </th>
                        <th>
                            <label asp-for="Gerät.FirstOrDefault().MAC"></label>
                        </th>
                        <th>
                            <label asp-for="Gerät.FirstOrDefault().IP"></label>
                        </th>
                        <th>
                            <label asp-for="Gerät.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Gerät.FirstOrDefault().VianovaNr"></label>
                        </th>
                        <th>
                            <label>GeräteTyp</label>
                        </th>
                        <th>
                            <label>Haus</label>
                        </th>
                        <th>
                            <label>Betriebssystem</label>
                        </th>
                        <th>
                            <label>Abteilung</label>
                        </th>
                        <th>
                            <label>Buttons</label>
                        </th>
                    </tr>
                    @foreach (var item in Model.Gerät)
                    {
                        <tr>
                            <td>
                                @{ var InventurNummer = "CCB" + item.InventurNr;
                                }
                                @Html.DisplayFor(m => InventurNummer)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.MAC)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.IP)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.VianovaNr)
                            </td>
                            <td>
                                @{ var GeräteTypPopulated = Model.PopulateGeräteTypNameBy(item.GeräteTypId);
                                }
                                @Html.DisplayFor(m => GeräteTypPopulated)
                            </td>
                            <td>
                                @{ var HausNamePopulated = Model.PopulateHausNameBy(item.HausId);
                                }
                                @Html.DisplayFor(m => HausNamePopulated)
                            </td>
                            <td>
                                @{ var BetriebssystemPopulated = Model.PopulateBetriebssystemNameBy(item.BetriebssystemId);
                                }
                                @Html.DisplayFor(m => BetriebssystemPopulated)
                            </td>
                            <td>
                                @{ var AbteilungPopulated = Model.PopulateAbteilungNameBy(item.AbteilungId);
                                }
                                @Html.DisplayFor(m => AbteilungPopulated)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-InventurNr="@item.InventurNr" onclick="return confirm('Soll der Eintrag wirklich gelöscht werden?')" class="btn btn-danger btn-sm">Löschen</button>
                                <a asp-page="GeraeteEdit" asp-route-InventurNr="@item.InventurNr" class="btn btn-success btn-sm text-white">Ändern</a>
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <p>Keine Geräte zum Anzeigen verfügbar</p>
            }
        </form>
    </diiv>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}